@import "./colors.scss";
$button-styles : 
(
    width: 80%,
    border-radius: 5px,
    background-color: $background-color,
    padding: 10px 10px 13px 23px,
    border: 1px solid $primary-color,
    font-family: "century-gothic",
    outline: none,
);


@mixin button-styles($bg-color, $border-color : black)
{

    font-family: "century-gothic", sans-serif;
    border-radius: 8px;
    cursor: pointer;
    background-color:  $bg-color;
    border: 1px solid $border-color;
    outline: none;
    font-weight: bolder;
}