$primary-color: #18666d;
$secondary-color: #D7F8F1;
$background-color-2: #ddf5f0;
$background-color : #F9FFFF;
$grey : #8e8d8d;
$light-grey : #bdb6b6;


$box-shadow : rgba(21, 131, 76, 0.4) 0px 2px 4px, rgba(21, 131, 76, 0.3) 0px 7px 13px -3px, rgba(21, 131, 76, 0.2) 0px -3px 0px inset;
$box-shadow-2 :  rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
$primary-color-filter : invert(27%) sepia(96%) saturate(351%) hue-rotate(136deg) brightness(101%) contrast(93%);
$light-green-filter : invert(100%) sepia(61%) saturate(344%) hue-rotate(87deg) brightness(100%) contrast(95%);


//Priority Colors
$grey-priority: #DDDDDD;
$green-priority: #9ACC32;
$yellow-priority: #FCDD31;
$orange-priority: #F19734;
$red-priority: #BF3228;

$red-filter :  invert(27%) sepia(32%) saturate(5258%) hue-rotate(346deg) brightness(80%) contrast(89%);
$green-filter : invert(69%) sepia(86%) saturate(388%) hue-rotate(31deg) brightness(95%) contrast(86%);
$grey-filter :  invert(95%) sepia(3%) saturate(3363%) hue-rotate(190deg) brightness(115%) contrast(73%);
$orange-filter :  invert(74%) sepia(78%) saturate(1971%) hue-rotate(334deg) brightness(97%) contrast(95%);
$yellow-filter :  invert(82%) sepia(93%) saturate(862%) hue-rotate(328deg) brightness(104%) contrast(98%);