<div class="wrapper">
    <div class="start-time time">
        <div>Start</div>
        <input class="picker" [min]="today"  [(ngModel)]="task.startDate"  type="date" name="startDate"/>
        <input class="picker time-picker" [(ngModel)]="task.startTime" type="time">
    </div>

    <div class="end-time time">
        <div style="margin-right: 17px;">End</div>
        <input class="picker" [min]="task.startDate" [(ngModel)]="task.endDate" type="date" name="startDate">
        <input class="picker time-picker"  [min]="task.startTime"  [(ngModel)]="task.endTime" type="time">
    </div>
    
    </div>