@import "../../styles/colors.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
   
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle-container {
    width: 400px;
    height: 400px;
    background-color: #ddd;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.semicircle {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}

.semicircle:nth-child(1) {
    background-color: $primary-color;
    z-index: 2;
}

.semicircle:nth-child(2) {
    background-color: $primary-color;
    z-index: 3;
}

.semicircle:nth-child(3) {
    background-color: #ddd;
    z-index: 4;
  
}

.outermost-circle {
    width: 390px;
    height: 390px;
    border-radius: 50%;
    background-color: $background-color;
    z-index: 5;
}

.timer-container
{
    width: 330px;
    height: 200px;
    z-index: 6;
}
.timer 
{
    width: 400px;
    height: 100px;

    z-index: 7 ;
    div 
    {
        font-size:  70px;
        font-weight:  100;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 0 10px;
        color: $primary-color;
    }

}
