<div id="wrapper">
  <div id="tasks-section">
    <div class="top">
      <h1>
        {{ToDoList.title}}
      </h1>
      <div class="add-task">
        <div id="task-input">
          <input id="title-input" type="text" name="task-title" placeholder="+  Add New Task" (keyup.enter)="addTask()"
            [(ngModel)]="newTask.title">
          <div class="options" id="time-options">
            <div class="time-picker" (click)="displayTimePicker()">
              <img src="../../../assets/icons/calendar-icon.png">
              <div>{{newTask.startDate | customDate }}</div>
            </div>
            <div class="dropdown" [style.display]="displayTimePickerStyle">
              @if(displayTimePickerStyle == "block")
              {
              <app-task-time [task]="newTask"></app-task-time>
              }

            </div>
          </div>
          <div class="options" id="task-options">
            <img (click)="displayDropDown()" src="../../../assets/icons/dropdown-icon.png">
            <div class="dropdown" [style.display]="displayStyle">
              @if(displayStyle == "block")
              {
              <app-options-dropdown [task]="newTask" [allToDoLists]="allToDoLists"></app-options-dropdown>
              }

            </div>

          </div>
        </div>

      </div>
    </div>
    <div id="tasks-wrapper">


      <div *ngFor="let task of ToDoList.tasks" class="task" @taskAnim>

        <div class="actions">
          <div class="actions-btns">
            <div>
              <img src="../../../assets/icons/delete-icon.png" (click)="deleteTask(task.id)" alt="">
            </div>
            <div>
              <img src="../../../assets/icons/focus-icon.png" alt="">
            </div>

          </div>

        </div>


        @if (task.startTime != null)
        {
        <div class="task-time">{{task.startTime | timeFormatConverter}}</div>
        }
        @else {
        <div class="task-time">Today</div>
        }


        <div class="task-title" [ngClass]="{ 'completed': task.completed }" (click)="displayTaskDetails(task)">
          {{task.title}}</div>

        <div class="checkbox-wrapper">
          <label class="checkbox">
            <input class="checkbox__trigger visuallyhidden" type="checkbox" [(ngModel)]="task.completed"
              (click)="checkTaskCompleted(task)" />
            <span class="checkbox__symbol">
              <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M4 14l8 7L24 7"></path>
              </svg>
            </span>
          </label>
        </div>
      </div>


    </div>
  </div>
  <div id="task-detail-section">

    @if (selectedTask)
    {
    <app-task-detail [allToDoLists]="allToDoLists" [task]="selectedTask"
      (eventEmitter)="handleEvent($event)"></app-task-detail>
    }



  </div>
</div>