@import "../../styles/colors.scss";



#wrapper {
    height: 100vh !important;
    background-color: $background-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.top-bar 
{
    padding-top: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    padding-left: 20px;
    position: relative;
}
#calendar 
{

}
.current-view-date 
{
    font-size: 35px;
    color: $primary-color;
}
.cal-date-nav-button
{
    border: 1px solid $primary-color;
 
    display: flex;
     margin-right: 50px;
}
button
{
    cursor: pointer;
    background-color: transparent;
    outline: none;
    display: block;
    padding: 8px 5px 8px 5px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    font-size: 15px;
    width: 100px;
    font-family: "century-gothic", sans-serif;
    font-weight: bold;
}
#today 
{
    border-left: 1px solid $primary-color !important;
    border-right: 1px solid $primary-color !important;
    
}
#previous , #next
{
   border-right: 0px;
   background-color: #18666d;
   color: white;
}
