
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@import "./app/styles/calendar-view-styles.scss"
;
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #e3eded,
    100 : #bad1d3,
    200 : #8cb3b6,
    300 : #5d9499,
    400 : #3b7d83,
    500 : #18666d,
    600 : #155e65,
    700 : #11535a,
    800 : #0e4950,
    900 : #08383e,
    A100 : #75ecff,
    A200 : #42e5ff,
    A400 : #0fdeff,
    A700 : #00d3f5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$to-do-list-primary: mat.define-palette(mat.$indigo-palette);
$to-do-list-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$to-do-list-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$to-do-list-theme: mat.define-light-theme((
  color: (
    primary: $to-do-list-primary,
    accent: $to-do-list-accent,
    warn: $to-do-list-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($to-do-list-theme);



body::-webkit-scrollbar
{
   display: none;
}
body 
{
   background-color: #FFFFFF;
   margin: 0;
   padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
