<div id="menu-wrapper">
    <div id="wrapper">
    
            <div id="tabs-wrapper">
             
                <div class="tab-wrapper">
                  
                    <img class="tab-icon" src="../../../assets/icons/tasks-icon.png">
                    
                    <div class="tab-title">Today</div>
                </div>
                <div class="tab-wrapper">
                  
                    <img class="tab-icon" src="../../../assets/icons/calendar-icon.png">
                    
                    <div class="tab-title">Calendar</div>
                </div>
                <div class="tab-wrapper">
                  
                    <img class="tab-icon" src="../../../assets/icons/project-icon.png">
                    
                    <div class="tab-title">Projects</div>
                </div>
            </div>
        </div>
               

</div>